*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

    
.intro{
    background: url("bg.jpeg");
    background-size: cover;
    height: 700px;
    nav{
        padding:30px;
        .fab{
            font-size: 50px;
            color:#fff;
        }
       
        aside{
            float: right;

            .bar1,.bar2,.bar3{
                width: 35px;
                height: 5px;
                background:#fff;
                margin: 6px 0px;
                transition: 0.5s;
            }
            .change .bar1{
                transform: rotate(-45deg) translate(-9px,6px);
            }
            .change .bar2{
                opacity: 0;
            }
            .change .bar3{
                transform: rotate(45deg) translate(-7px,-8px);
            }
            .menu-content{
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: #111;
                overflow: hidden;
                transition: 0.5s;
                padding-top: 60px;
                transition: 0.5s;
                a{
                    display: block;
                    padding: 20px 8px 8px 50px;
                    text-decoration: none;
                    font-size: 25px;
                    color:#fff;
                }
                    .dropdown{
                        .btn{
                            font-size: 25px;
                            color:#fff;
                            cursor: pointer;
                            border:0;
                            outline: 0;
                            background: inherit;
                            padding:20px 8px 8px 50px;
                        }
                        .dropdown-item{
                            display: none;
                        }
                        
                    }
                    .dropdown:hover .dropdown-item{
                        display: block;
                    } 
            }
            
        }
    }
}
.change1 .menu-content{
    width: 20%;
}


    